.header-disclosure-widget-icon {
  transition: transform 200ms;
}

.sb-hint-panel[data-state="open"] .sb-hint-panel-header-collapse-button .header-disclosure-widget-icon {
  transform: rotate(90deg);
}

.sb-hint-panel[data-state="closed"] .sb-hint-panel-header-collapse-button .header-disclosure-widget-icon {
  transform: rotate(0deg);
}

.sb-hint-panel-settings[data-state="open"] .sb-hint-panel-settings-header-button .header-disclosure-widget-icon {
  transform: rotate(90deg);
}

.sb-hint-panel-settings[data-state="closed"] .sb-hint-panel-settings-header-button .header-disclosure-widget-icon {
  transform: rotate(0deg);
}
