.header-disclosure-widget-icon {
  transition: transform 200ms;
}

.sb-hint-panel[data-state="open"] .sb-hint-panel-header-collapse-button .header-disclosure-widget-icon {
  transform: rotate(90deg);
}

.sb-hint-panel[data-state="closed"] .sb-hint-panel-header-collapse-button .header-disclosure-widget-icon {
  transform: rotate(0deg);
}

.sb-hint-panel-settings[data-state="open"] .sb-hint-panel-settings-header-button .header-disclosure-widget-icon {
  transform: rotate(90deg);
}

.sb-hint-panel-settings[data-state="closed"] .sb-hint-panel-settings-header-button .header-disclosure-widget-icon {
  transform: rotate(0deg);
}

.sb-answer-alert-message, .sb-answer-alert-score {
  animation-duration: 0.7s;
  animation-timing-function:
          cubic-bezier(0.33, 1, 0.68, 1),
          cubic-bezier(0.5, 0, 0.75, 0);
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.sb-answer-alert-message {
  animation-name: float-up-slow, fade-out;

  @keyframes float-up-slow {
    from {
      bottom: 0px;
    }
    to {
      bottom: 4px;
    }
  }
}
.sb-answer-alert-score {
  animation-name: float-up-fast, fade-out;

  @keyframes float-up-fast {
    from {
      bottom: 23px;
    }
    to {
      bottom: 37px;
    }
  }
}

@keyframes fade-out {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

.sb-guess-input {
  &.error {
    animation-name: shake;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }
  @keyframes shake {
    12.5% {
      left: -6px;
    }
    37.5% {
      left: 6px;
    }
    62.5% {
      left: -6px;
    }
    87.5% {
      left: 6px;
    }
    100% {
      left: 0px;
    }
  }
  &:after {
    animation: blink 1s steps(2) infinite;

  }
  @keyframes blink {
    0% {
      opacity: 0%;
    }
  }
}
