@media (prefers-color-scheme: dark) {
  :root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #222;
  }

  a {
    color: #646cff;
  }

  a:hover {
    color: #535bf2;
  }

  button {
    background-color: #335;
  }

  button:hover {
    border-color: #646cff;
  }

  .hexagon polygon {
    fill: #555;
  }

  .hexagon.center-letter polygon {
    fill: #887711; //hsl(51, 78%, 30%)
  }

  .hexagon text {
    fill: #eee;
  }

  .sb-hint-panel-header {
    background-color: #333;
  }

  .sb-hint-remove-button-box {
    /*background-color: #633;*/
  }

  .sb-hint-collapse-button-box {
    /*background-color: #663;*/
  }

  .sb-hint-expand-button-box {
    /*background-color: #363;*/
  }

  .sb-hint-duplicate-button-box {
    /*background-color: #339;*/
  }

  .sb-wlg-content,
  .sb-wlg-total-column,
  .sb-wlg-row-header,
  .sb-wlg-total-row,
  {
    border-top: 1px solid #666;
  }

  .sb-wlg-content,
  .sb-wlg-total-column,
  .sb-wlg-total-row,
  {
    border-left: 1px solid #666;
  }

  .sb-wlg-content-full {
    background-color: #333;
  }

  .hint-completed {
    color: hsl(120, 80%, 85%);
    //background-color: hsl(120, 40%, 20%);
    font-style: italic;
  }

  .hint-in-progress {
    color: hsl(60, 80%, 85%)
    //background-color: hsl(60, 60%, 20%);
  }

  .hint-not-started {
    color: hsl(0, 80%, 85%);
    //background-color: hsl(0, 40%, 20%);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
