@media (prefers-color-scheme: dark) {
  $yellow-hue: 51;
  $hint-hue: 240;
  $settings-hue: 0;
  $border-saturation: 20%;
  $border-saturation-collapsed: 10%;
  $border-lightness: 40%;
  $border-lightness-collapsed: 33%;
  $button-background-saturation: 27%;
  $button-background-saturation-collapsed: 15%;
  $button-background-lightness: 25%;
  $button-background-lightness-collapsed: 22%;
  $button-border-hover-lightness: 55%;
  $button-border-hover-lightness-collapsed: 43%;
  $hint-completed: hsl(120, 85%, 87%);
  :root {
    /* Base variables */
    --bg-color: #222;
    --bg-color-standout: #333;
    --bg-color-light: #555;
    --main-line-color: rgba(255, 255, 255, 0.87);
    --disabled-line-color: rgba(255, 255, 255, 0.36);
    --disabled-text-color: rgba(255, 255, 255, 0.49);
    --secondary-line-color: rgba(255, 255, 255, 0.3); //#666
    --collapsed-line-color: rgba(255, 255, 255, 0.730);
    --main-yellow: hsl(51, 78%, 30%);
    --yellow-line: hsl(51, 78%, 50%);

    /* Compound variables */

    color: var(--main-line-color);
    background-color: var(--bg-color);
  }

  *:focus {
    outline: none;
  }


  a {
    color: #646cff;
  }

  a:hover {
    color: #535bf2;
  }

  //.button {
    //background-color: #335; //hsl(240, 25%, 27%)
  //}
  //.collapsed .button {
    //background-color:
  //}

  button:hover {
    //border-color: #646cff;
  }

  .standard-button {
    background-color: var(--main-yellow);
  }

  .sb-header {
    border-color: var(--secondary-line-color);
    background-color: var(--bg-color-standout);
    .sb-subheader {
      border-color: var(--secondary-line-color);
    }
  }

  .sb-word-list-container {
    border-color: var(--secondary-line-color);
  }

  .sb-word-tabs-root {
    .tabs-list {
      .tab-trigger {
        &[data-state="active"] {
          background-color: hsl($hint-hue, $button-background-saturation, $button-background-lightness);
          border-color: hsl($hint-hue, $border-saturation, 55%);
        }
      }
    }
  }

  .has-popover {
    &.perfect, &.pangram {
      button {
        color: $hint-completed;
      }
      //font-weight: bold;
    }
  }

  .sb-answer-alert-message {
    border-color: var(--secondary-line-color);
    &.pangram-alert-message {
      border-color: var(--main-yellow);
      background-color: var(--main-yellow);
    }
  }


  .sb-error-alert-message {
    border-color: var(--main-line-color);
    background-color: var(--main-line-color);
    color: var(--bg-color);
  }

  .sb-guess-input {
    //border-color: transparent;
    &.error {
      //border-color: red;
    }
    &:after {
      background-color: var(--yellow-line);
    }
  }

  .sb-guess-input-letter {
    &.valid {
      color: white;
    }
    &.center-letter {
      color: var(--yellow-line);
    }
    &.invalid {
      color: var(--disabled-line-color);
    }
  }

  .hexagon polygon {
    //fill: #555;
    fill: var(--bg-color-light);
  }

  .hexagon.center-letter polygon {
    fill: var(--main-yellow); //#887711
  }

  .hexagon text {
    fill: #eee;
  }

  .sb-guess-input-controls {
    .standard-button {
      background-color: var(--bg-color-light);
    }
  }

  .sb-hint-panel {
    border-color: hsl($hint-hue, $border-saturation, $border-lightness);
    .sb-hint-panel-header {
      background-color: hsl($hint-hue, 25%, 30%);
      button {
        &.button {
          background-color: hsl($hint-hue, $button-background-saturation, $button-background-lightness);
        }
        &:hover {
          border-color: hsl($hint-hue, $border-saturation, $button-border-hover-lightness);
        }
      }
    }
    &[data-state="closed"] {
      color: var(--collapsed-line-color);
      border-color: hsl($hint-hue, $border-saturation-collapsed, $border-lightness-collapsed);
      .sb-hint-panel-header {
        background-color: hsl($hint-hue, 15%, 26%);
        button {
          color: var(--collapsed-line-color);
          &.button {
            background-color: hsl($hint-hue, $button-background-saturation-collapsed, $button-background-lightness-collapsed);
          }
          &:hover {
            border-color: hsl($hint-hue, $border-saturation-collapsed, $button-border-hover-lightness-collapsed);
          }
        }
      }
    }
  }

  .sb-hint-panel-settings, .collapsible-settings {
    background-color: hsl(0, 30%, 20%);
    border-color: hsl($settings-hue, $border-saturation, $border-lightness);
    span.disabled {
      color: var(--disabled-text-color);
    }
    .sb-hint-panel-settings-header, .collapsible-settings-header {
      background-color: hsl($settings-hue, 25%, 30%);
      button {
        &.button {
          background-color: hsl($settings-hue, $button-background-saturation, $button-background-lightness);
        }
        &:hover {
          border-color: hsl($settings-hue, $border-saturation, $button-border-hover-lightness);
          //border-color: transparent;
        }
      }
    }
    &[data-state="closed"] {
      color: var(--collapsed-line-color);
      border-color: hsl($settings-hue, $border-saturation-collapsed, $border-lightness-collapsed);
      .sb-hint-panel-settings-header, .collapsible-settings-header {
        background-color: hsl($settings-hue, 15%, 26%);
        button {
          color: var(--collapsed-line-color);
          &:hover {
            border-color: hsl($settings-hue, $border-saturation-collapsed, $button-border-hover-lightness-collapsed);
          }
        }
      }
    }
  }

  .sb-hint-panel-settings-header {
    //background-color: #292929;
  }

  .sb-general-hint-settings {
    border-top: 1px solid hsl(0, 20%, 40%);
  }

  .sb-wlg-content,
  .sb-wlg-total-column,
  .sb-wlg-row-header:not(:nth-child(-n + 1 of div.sb-wlg-row-header)),
  .sb-wlg-total-row,
  {
    border-top: 1px solid var(--secondary-line-color);
  }

  .sb-wlg-content,
  .sb-wlg-total-column,
  .sb-wlg-total-row,
  {
    border-left: 1px solid var(--secondary-line-color);
  }

  .sb-wlg-tracking-key {
    background-color: var(--bg-color-standout);
    border: 1px solid var(--secondary-line-color);
  }

  .sb-wlg-content-full {
    background-color: var(--bg-color-standout);
  }

  .hint-completed {
    color: hsl(120, 85%, 87%);
    //background-color: hsl(120, 40%, 20%);
    font-style: italic;
  }

  .hint-in-progress {
    color: hsl(60, 85%, 87%)
    //background-color: hsl(60, 60%, 20%);
  }

  .hint-not-started {
    color: hsl(0, 85%, 87%);
    //background-color: hsl(0, 40%, 20%);
  }

  .sb-word-count-list {
    border-top: 1px dotted;
  }

  .sb-wcl-fragment-count {
    border: 1px solid var(--secondary-line-color);
    background-color: var(--bg-color-standout);
  }

  .sb-lol-row {
    border-bottom: 1px solid var(--secondary-line-color);
    //&:first-child {
    //  border-top: 1px solid #666;
    //}
  }

  .sb-search-hints-search-result-header {
    background-color: var(--bg-color-standout);
    .header-remove-button {
      background-color: var(--bg-color);
      &:hover {
        border-color: var(--secondary-line-color)
      }
    }
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
