@media (prefers-color-scheme: dark) {
  $hint-hue: 240;
  $settings-hue: 0;
  $border-saturation: 20%;
  $border-saturation-collapsed: 10%;
  $border-lightness: 40%;
  $border-lightness-collapsed: 33%;
  $button-background-saturation: 27%;
  $button-background-saturation-collapsed: 15%;
  $button-background-lightness: 25%;
  $button-background-lightness-collapsed: 22%;
  $button-border-hover-lightness: 55%;
  $button-border-hover-lightness-collapsed: 43%;
  :root {
    /* Base variables */
    --bg-color: #222;
    --line-color: rgba(255, 255, 255, 0.87);
    --disabled-line-color: rgba(255, 255, 255, 0.730);

    /* Compound variables */

    color: var(--line-color);
    background-color: var(--bg-color);
  }

  a {
    color: #646cff;
  }

  a:hover {
    color: #535bf2;
  }

  //.button {
    //background-color: #335; //hsl(240, 25%, 27%)
  //}
  //.collapsed .button {
    //background-color:
  //}

  button:hover {
    //border-color: #646cff;
  }

  .hexagon polygon {
    fill: #555;
  }

  .hexagon.center-letter polygon {
    fill: #887711; //hsl(51, 78%, 30%)
  }

  .hexagon text {
    fill: #eee;
  }

  .sb-hint-panel {
    border-color: hsl($hint-hue, $border-saturation, $border-lightness);
    button {
      &.button {
        background-color: hsl($hint-hue, $button-background-saturation, $button-background-lightness);
      }
      &:hover {
        border-color: hsl($hint-hue, $border-saturation, $button-border-hover-lightness);
      }
    }
    &[data-state="closed"] {
      color: var(--disabled-line-color);
      border-color: hsl($hint-hue, $border-saturation-collapsed, $border-lightness-collapsed);
      button {
        color: var(--disabled-line-color);
        &.button {
          background-color: hsl($hint-hue, $button-background-saturation-collapsed, $button-background-lightness-collapsed);
        }
        &:hover {
          border-color: hsl($hint-hue, $border-saturation-collapsed, $button-border-hover-lightness-collapsed);
        }
      }
    }
  }

  .sb-hint-panel-header {
    background-color: hsl(240, 25%, 30%);
    &.collapsed {
      background-color: hsl(240, 15%, 26%);
    }
  }

  .sb-hint-panel-settings {
    border-color: hsl($settings-hue, $border-saturation, $border-lightness);
    button {
      &.button {
        background-color: hsl($settings-hue, $button-background-saturation, $button-background-lightness);
      }
      &:hover {
        border-color: hsl($settings-hue, $border-saturation, $button-border-hover-lightness);
        //border-color: transparent;
      }
    }
    &.collapsed {
      color: var(--disabled-line-color);
      border-color: hsl($settings-hue, $border-saturation-collapsed, $border-lightness-collapsed);
      button {
        color: var(--disabled-line-color);
        &.button {
          background-color: hsl($settings-hue, $button-background-saturation-collapsed, $button-background-lightness-collapsed);
        }
        &:hover {
          border-color: hsl($settings-hue, $border-saturation-collapsed, $button-border-hover-lightness-collapsed);
          //border-color: transparent;
        }
      }
    }
  }
  .sb-hint-panel-settings {
    background-color: hsl(0, 30%, 20%);
    border: 1px solid hsl(0, 20%, 40%);
  }

  .sb-hint-panel-settings-header {
    background-color: hsl(0, 25%, 30%);
    //background-color: #292929;
  }

  .sb-general-hint-settings {
    border-top: 1px solid hsl(0, 20%, 40%);
  }

  .sb-wlg-content,
  .sb-wlg-total-column,
  .sb-wlg-row-header:not(:nth-child(-n + 1 of div.sb-wlg-row-header)),
  .sb-wlg-total-row,
  {
    border-top: 1px solid #666;
  }

  .sb-wlg-content,
  .sb-wlg-total-column,
  .sb-wlg-total-row,
  {
    border-left: 1px solid #666;
  }

  .sb-wlg-tracking-key {
    background-color: #333;
    border: 1px solid #666;
  }

  .sb-wlg-content-full {
    background-color: #333;
  }

  .hint-completed {
    color: hsl(120, 85%, 87%);
    //background-color: hsl(120, 40%, 20%);
    font-style: italic;
  }

  .hint-in-progress {
    color: hsl(60, 85%, 87%)
    //background-color: hsl(60, 60%, 20%);
  }

  .hint-not-started {
    color: hsl(0, 85%, 87%);
    //background-color: hsl(0, 40%, 20%);
  }

  .sb-word-count-list {
    border-top: 1px dotted;
  }

  .sb-wcl-fragment-count {
    border: 1px solid #666;
    background-color: #333;
  }

  .sb-lol-row {
    border-bottom: 1px solid #666;
    //&:first-child {
    //  border-top: 1px solid #666;
    //}
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
