@use 'colors' as *;

.Error_title {
  padding: 8px;
  color: $text-secondary-large-dark;
  text-decoration: underline;
}

.Error_subtitle {
  padding: 8px;
  font-weight: bold;
}

.Error_message {
  font-size: calc(1.5 * var(--font-size));
  padding: 16px;
}