@use 'colors' as *;

.Header___common {
  border-bottom: 1.5px solid $dark-gray-5;
  background-color: $dark-gray-2;
  font-size: var(--font-size);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6em;
}

.Header___mobile {
  padding: 4px;
}

.Header_hamburger {
  padding: 3px 6px;
}

.HeaderLeft {
  display: flex;
  align-items: center;
  gap: 0.6em;
  a {
    display: flex;
    justify-content: flex-start;
    padding: 4px 8px;
  }
}

.HeaderTitle {
  display: flex;
  justify-content: flex-start;
  padding: 0.4em;
  font-size: var(--large-font);
  font-weight: bold;
  text-decoration: none;
  color: $accent-title;
  &:hover {
    color: $accent-title-hover;
    text-decoration: none;
  }
}
.HeaderAuth {
  font-size: var(--small-font);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.4em;
}
