@use 'colors' as *;

.SSB_Header {
  border-bottom: 1.5px solid $dark-gray-5;
  background-color: $dark-gray-1;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.HeaderLeft {
  display: flex;
  align-items: center;
  gap: 16px;
  a {
    display: flex;
    justify-content: flex-start;
    padding: 4px 8px;
  }
}

.HeaderTitle {
  display: flex;
  justify-content: flex-start;
  padding: 8px;
  font-size: 26px;
  font-weight: bold;
  text-decoration: none;
  color: $accent-title;
  &:hover {
    color: $accent-title-hover;
    text-decoration: none;
  }
}
.HeaderAuth {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}
