* {
  box-sizing: border-box;
}
#root {
  width: 100%;
  min-height: 100vh;
  /*max-width: 1280px;*/
  /*margin: 0 auto;*/
  /*padding: 2rem;*/
  text-align: center;
}

.display-none {
  display: none;
}

.App {
  min-height: 550px;
}

Header {
  position: relative;
}

.sb-top-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.sb-main-container {
  display: flex;
  justify-content: stretch;
  position: relative;
  width: 100%;
}

.sb-main {
  /*width: 1080px;*/
  max-width: 1080px;
  margin: 0px auto;
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  align-content: stretch;
  justify-content: stretch;
  gap: 16px;
}

.sb-main > div {
  width: 50%;
}

.sb-controls-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  /*justify-content: center;*/
  align-items: center;
  gap: 8px;
}

.sb-controls {
  width: 80vw;
  max-width: 320px;
  /*z-index: 3;*/
  /*position: relative;*/
  /*max-height: 100%;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hive-container {
  width: 90%;
}

.hive {
  position: relative;
  width: 100%;
  padding-bottom: 103.6085%;
}

.hexagon {
  position: absolute;
  top: 33.333333333%;
  left: 30%;
  width: 40%;
  height: 33.3333333333%;
  /*height: 100px;*/
  /*width: calc(var(--height) * 1.1547);*/
  /*margin: 4px;*/
}

.hexagon text {
  text-anchor: middle;
  font-size: 36px;
  font-weight: bold;
}

.hexagon:nth-child(1) {
}

.hexagon:nth-child(2) {
  transform: translate(-75%, -50%);
}

.hexagon:nth-child(3) {
  transform: translate(0%, -100%);
}

.hexagon:nth-child(4) {
  transform: translate(75%, -50%);
}

.hexagon:nth-child(5) {
  transform: translate(75%, 50%);
}

.hexagon:nth-child(6) {
  transform: translate(0%, 100%);
}

.hexagon:nth-child(7) {
  transform: translate(-75%, 50%);
}

.sb-status {
  /*border: 1px solid #ccc;*/
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 8px;
}

.sb-progress {
  border: 1px dotted;
}

.sb-guess-list-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px dotted;
  padding: 4px;
  gap: 4px;
}

.sb-guess-list-settings {
  border: 1px dotted;
}

.sb-guess-list-settings-title {
  border: 1px dotted;
}

.sb-guess-list {
  border: 1px dotted;
  list-style: none;
  text-align: left;
  margin: 0px;
}

.sb-guess-list > li {
  text-transform: lowercase;
}

.sb-guess-list > li::first-letter {
  text-transform: uppercase;
}

.sb-hint-section {
  border: 1px dotted;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sb-hints {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sb-hint-panel {
  border: 1px dotted;
  /*padding: 8px;*/
}

.sb-hint-panel-content {
  padding: 8px;
}

.sb-hint-panel-header {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  /*border-bottom: 1px dotted;*/
  /*margin-bottom: 8px;*/
  padding: 4px 8px;
}

.sb-hint-panel-header-buttons-left, .sb-hint-panel-header-buttons-right {
  grid-row: 1 / 2;
  display: flex;
  gap: 8px;
  /*margin-bottom: 8px;*/
}

.sb-hint-panel-header-buttons-left {
  grid-column: 1 / 2;
}

.sb-hint-panel-header-buttons-right {
  grid-column: 3 / 4;
}

.hint-button-box {
  cursor: pointer;
  padding: 2px;
  display: grid;
  place-content: center;
  border-radius: 4px;
  /*border: 1px solid #555;*/
}

.sb-hint-panel-name {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  font-weight: bold;
}

.sb-general-hint-settings {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  margin: 0px 8px;
  padding: 8px;
  border-bottom: 1px dotted;
}

.sb-basic-hints {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.sb-word-length-grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sb-word-length-grid {
  display: grid;
}

.sb-number-of-letters-control, .sb-offset-control {
  width: 3rem;
}