@use 'colors' as *;

* {
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}

:root {
  color: $line-bright;
  background-color: $black;

  /* Variables */

  /* Border radius */
  --br: 6px;
}

#AppRoot {
  width: 100%;
  min-height: 100vh;
  text-align: center;
}

.App {
  min-height: 550px;
}

.SSB_TopContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.PuzzleMainContainer {
  //display: flex;
  //justify-content: stretch;
  //position: relative;
  width: 100%;
  padding: 16px;
}

.PuzzleMain {
  /*width: 1080px;*/
  //max-width: 1080px;
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  //flex-grow: 1;
  width: 100%;
  //height: 100%;
  align-content: stretch;
  //gap: 16px;
}

.PuzzleMain > * {
  max-width: 33.3333333333vw;
}

.NonPuzzleLayout {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 16px;
}

.NonPuzzleMain {
  width: clamp(600px, 60%, 1280px);
  background-color: $dark-gray-1;
  padding: 16px;
  border-radius: var(--br);
  border: 1.5px solid $dark-gray-5;
}




/**********************/
/***   COMPONENTS   ***/
/**********************/




/***   Buttons   ***/

@mixin button-mixin {
  @include basic-hover;
  @include basic-focus;
  display: grid;
  place-content: center;
  background-color: bg-color-dark($accent-hue);
  border: 1.5px solid border-color-dark($accent-hue);
  &:hover {
    background-color: bg-color-dark-hover($accent-hue);
  }
  &:disabled {
    cursor: not-allowed;
    color: $text-disabled-dark;
    background-color: bg-color-dark-disabled($accent-hue);
    border-color: border-color-dark-disabled($accent-hue);
  }
}

@mixin gray-button-mixin {
  display: grid;
  place-content: center;
  border: 1px solid $dark-gray-2;
  background-color: $dark-gray-2;
  &:hover {
    background-color: $dark-gray-1;
    border-color: $mid-gray-darker;
  }
  &:focus {
    box-shadow: 0 0 0 1px $mid-gray-darker;
  }
}

button {
  border-radius: var(--br);
}

.standardButton {
  @include button-mixin;
  font-size: 16px;
  padding: 8px 16px;
}

.IconButton {
  @include button-mixin;
  font-size: 20px;
  padding: 4px 12px;
  &.Square {
    padding: 4px;
    &.Small {
      font-size: 16px;
      padding: 3px;
    }
  }
  &.CloseButton {
    padding: 4px;
  }
}

.IconButton-group {
  display: grid;
  gap: 8px;
  &.group-2 {
    grid-template-columns: 1fr 1fr;
  }
  &.group-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/***   Checkbox   ***/

.CheckboxRoot {
  @include basic-hover;
  @include basic-focus;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5em;
  min-width: 1.5em;
  height: 1.5em;
  min-height: 1.5em;
  //padding: 8px;
  border-radius: var(--br);
  border: 1.5px solid border-color-dark($accent-hue);
  background-color: bg-color-darker($accent-hue);
  &[data-disabled] {
    border-color: border-color-dark-disabled($accent-hue);
    background-color: bg-color-dark-disabled($accent-hue);
    cursor: not-allowed;
  }
}

/***   Collapsible   ***/
.CollapsibleRoot {
  display: flex;
  flex-direction: column;
  //align-items: center;
}

.CollapsibleTrigger {
  padding: 8px 24px;
  border: 1.5px solid transparent;
  background-color: inherit;
  &:hover {
    background-color: $dark-gray-1;
    border-color: $mid-gray-darker;
  }
  &:focus {
    box-shadow: 0 0 0 1px $mid-gray-darker;
  }
}

.CollapsibleContent {
  padding: 16px;
}

/***   Dialog   ***/

.DialogOverlay {
  position: fixed;
  z-index: 2;
  inset: 0px;
  background-color: hsl(0 0% 5% / 0.9);
}

.DialogContent {
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border-radius: var(--br);
  background-color: $dark-gray-2;
  border: 2px solid $dark-gray-5;
}

.DialogClose {
  @include gray-button-mixin;
  position: absolute;
  top: 12px;
  right: 12px;
}

.DialogTitle {
  text-align: center;
  font-size: 24px;
}

/***   Dropdown Menu   ***/

.DropdownMenuArrow {
  fill: $dark-gray-4;
}

.DropdownMenuContent {
  background-color: $dark-gray-4;
  z-index: 2;
  padding: 4px 0px 2px;
  border-radius: var(--br);
  font-size: 16px;
}

.DropdownMenuItem {
  padding: 8px 12px;
  cursor: pointer;
  &:hover {
    background-color: $mid-gray-darker;
  }
  .iconify {
    font-size: 1.2em;
    margin-right: 8px;
  }
}

.DropdownMenuSeparator {
  height: 1px;
  margin: 4px 0px;
  background-color: $light-gray;
}

.DropdownMenuTrigger {
  @include basic-focus-gray;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 8px 16px 8px 8px;
  gap: 8px;
  border: 1.5px solid $mid-gray-darker;
  background-color: $dark-gray-3;
  &:hover {
    background-color: $dark-gray-2;
  }
  &[data-state="open"] {
    background-color: $dark-gray-1;
    border-color: $mid-gray;
  }
}

/***   Help Bubble   ***/

.HelpBubbleTrigger {
  @include basic-focus;
  height: 1.2em;
  min-height: 1.2em;
  width: 1.2em;
  min-width: 1.2em;
  border-radius: 1.2em;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  background-color: inherit;
}

/***   HR   ***/

.Hr {
  width: 100%;
  border: none;
  border-top: 2px solid $dark-gray-5;
}

/***   Input   ***/

input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"]
{
  $this-hue: $accent-hue;
  width: 25ch;
  padding: 4px 8px;
  color: $line-mid;
  border-radius: var(--br);
  border: 1.5px solid border-color-dark($this-hue);
  background-color: bg-color-darker($this-hue);
  font-size: 14px;
  &::placeholder {
    font-style: italic;
    color: $text-disabled-dark;
  }
  &:hover {
    border-color: border-color-dark-hover($this-hue);
  }
  &:focus {
    background-color: bg-color-darkest($this-hue);
  }
  &.TextInput___invalid {
    background-color: bg-color-darker($error-hue);
    border-color: border-color-dark($error-hue);
    &:hover {
      border-color: border-color-dark-hover($error-hue);
    }
    &:focus {
      background-color: bg-color-darkest($error-hue);
    }
  }
}

input[type="email"] {
  width: 30ch;
}

input[type="number"] {
  @include basic-hover;
  @include basic-focus;
  color: $line-bright;
  background-color: bg-color-darker($accent-hue);
  border-radius: var(--br);
  font-size: 14px;
  padding: 4px 8px;
  border: 1.5px solid border-color-dark($accent-hue);
  &:hover {
    border-color: border-color-dark-hover($accent-hue);
  }
  &:focus {
    box-shadow: 0px 0px 0px 3px bg-color-darkest($accent-hue);
  }
  &[disabled] {
    color: $text-disabled-dark;
    background-color: $dark-gray-3;
    border-color: border-color-dark-disabled($accent-hue);
    cursor: not-allowed;
  }
}

/***   Links   ***/

a {
  $this-hue: $yellow-hue;
  text-decoration: inherit;
  color: ui-line-color-dark($this-hue);
  border-radius: var(--br);
  &:hover {
    text-decoration: underline;
    color: ui-line-color-hover-dark($this-hue);
  }
  &:focus {
    text-decoration: underline;
    box-shadow: 0 0 0 3px shadow-color-focus($accent-hue);
  }
}

a.ButtonLink, div.ButtonLink {
  $this-hue: $yellow-hue;
  border-radius: var(--br);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 16px;
  gap: 4px;
  border: 1.5px solid border-color-dark($this-hue);
  //border: 1.5px solid;
  &:hover {
    color: ui-line-color-dark($this-hue);
    border-color: ui-line-color-dark($this-hue);
  }
  &:focus {
    box-shadow: 0px 0px 0px 3px shadow-color-focus($this-hue);
  }
  &.disabled {
    color: border-color-dark-disabled($this-hue);
    border-color: border-color-dark-disabled($this-hue);
  }
  span {
    font-size: 14px;
  }
}

/***   Popover   ***/

.PopoverContent {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  padding: 8px 12px 12px 12px;
  max-width: 40rem;
  border-radius: var(--br);
  border: 2px solid $light-gray;
  background-color: $mid-gray;
  //box-shadow: 0 0 0px 4px $dark-gray;
  &:focus {
    outline: none;
  }
  span {
    align-self: center;
    display: flex;
    align-items: center;
  }
}

.PopoverCloseButton {
  align-self: flex-start;
  margin-top: 4px;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $light-gray;
}

.PopoverArrow {
  z-index: 1;
  fill: $light-gray;
}

/***   Select   ***/

.SelectTrigger {
  @include basic-hover;
  @include basic-focus;
  width: 10em;
  font-size: 16px;
  border: 1.5px solid border-color-dark($accent-hue);
  background-color: bg-color-darker($accent-hue);
  padding: 6px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  line-height: 1.2;
  &.SmallSelect {
    font-size: 14px;
    padding: 4px 8px;
    width: 11em;
    gap: 6px;
  }
  span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.SelectIcon {
  width: 1em;
  height: 1em;
}

.SelectContent {
  z-index: 2;
  border-radius: var(--br);
  overflow: hidden;
  font-size: 16px;
  padding: 3px 0px;
  border: 1.5px solid border-color-dark($accent-hue);
  background-color: bg-color-darker($accent-hue);
  &:hover {
    border-color: border-color-dark-hover($accent-hue);
  }
  &.SmallSelect {
    font-size: 14px;
    padding: 2px 0px;
  }
}

.SelectLabel {
  font-size: 15px;
  padding: 6px 16px;
  font-style: italic;
  color: $text-disabled-dark;
  border-color: $line-disabled;
  .SmallSelect & {
    font-size: 13px;
    padding: 4px 12px;
  }
}

.SelectItem {
  position: relative;
  cursor: pointer;
  padding: 6px 6px 6px 28px;
  user-select: none;
  &[data-highlighted] {
    background-color: highlight-color-dark($accent-hue);
  }
  .SmallSelect & {
    padding: 5px 5px 5px 24px;
  }
}

.SelectItemIndicator {
  position: absolute;
  left: 6px;
  .SmallSelect & {
    left: 4px;
  }
}

.SelectScrollButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  height: 24px;
  background-color: bg-color-darkest($accent-hue);
  &.up {
    border-bottom: 1.5px solid border-color-dark($accent-hue);
  }
  &.down {
    border-top: 1.5px solid border-color-dark($accent-hue);
  }
}

/*** Scroll Area ***/

.ScrollAreaScrollbar {
  display: flex;
  user-select: none;
  touch-action: none;
  padding: 2px;
  background: #333;
  border-radius: 12px;
  //transition: background 160ms ease-out;
  &[data-orientation='horizontal'] {
    flex-direction: column;
    height: 12px;
  }
}

.ScrollAreaThumb {
  flex: 1;
  background: #666;
  border-radius: 12px;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    min-width: 44px;
    min-height: 44px;
  }
}

/***   Switch   ***/

.SwitchRoot {
  @include basic-hover;
  @include basic-focus;
  display: block;
  position: relative;
  border-radius: 9999px;
  width: 42px;
  height: 25px;
  border: 1.5px solid border-color-dark($accent-hue);
  background-color: bg-color-darker($accent-hue);
  &[data-state='checked'] {
    background-color: highlight-color-dark($accent-hue);
    border-color: border-color-dark-hover($accent-hue);
  }
  &[data-disabled] {
    background-color: bg-color-dark-disabled($accent-hue);
    border-color: border-color-dark-disabled($accent-hue);
    cursor: not-allowed;
  }
}

.SwitchThumb {
  display: block;
  position: relative;
  border-radius: 9999px;
  height: 18px;
  width: 18px;
  transform: translateX(-2px);
  background-color: $line-bright;
  &[data-state='checked'] {
    transform: translateX(15px);
  }
  &[data-disabled] {
    background-color: $line-disabled;
  }
}

/***   Tabs   ***/

.TabsRoot {
  border-radius: var(--br);
  overflow: hidden;
  border: 1.5px solid $dark-gray-5;
}

.TabsList {
  display: grid;
  background-color: $dark-gray-2;
}

.TabsTrigger {
  padding: 8px 8px 10px 8px;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid $dark-gray-5;
  color: $text-secondary-dark;
  &:hover {
    background-color: $dark-gray-1;
    padding-bottom: 8px;
    border-bottom: 3px solid $dark-gray-5;
  }
  &[data-state="active"] {
    color: $text-main-dark;
    background-color: bg-color-dark($accent-hue);
    padding-bottom: 8px;
    border-bottom: 3px solid highlight-color-dark($accent-hue);
  }
}
.TabsContent {
  padding: 8px;
  background-color: $dark-gray-1;
}

/***   Toggle   ***/

.ToggleRoot {
  &[data-disabled] {
    cursor: not-allowed;
  }
}

/***   Toggle Group   ***/

.ToggleGroup {
  $this-hue: $accent-hue;
  border-radius: var(--br);
  border: 1.5px solid border-color-dark($this-hue);
  overflow: hidden;
  display: flex;
  gap: 1px;
  background-color: border-color-dark($this-hue);
  button {
    border-radius: 0;
    padding: 4px 12px;
    background-color: $dark-gray-1;
    color: $text-secondary-dark;
    &[data-state="on"] {
      color: $text-main-dark;
      background-color: bg-color-dark($accent-hue);
    }
  }
}

/***   Tooltip   ***/

.TooltipContent {
  display: flex;
  align-items: center;
  border-radius: var(--br);
  font-size: 14px;
  background-color: $light-gray-bg;
  color: $dark-gray-1;
  padding: 6px 12px;
  z-index: 3;
  //border: 1px solid $dark-gray-lighter;
  //box-shadow: 0px 0px 0px 3px $dark-gray;
}

.TooltipArrow {
  fill: $light-gray-bg;
}




/*****************/
/***   OTHER   ***/
/*****************/




.spacer {
  height: 1rem;
}