@use 'colors' as *;

.Status {
  position: sticky;
  top: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
}

.AttemptControls {
  font-size: var(--small-font);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  .App___oneColumn & {
    gap: 8px;
  }
  background-color: $dark-gray-2;
  border: 1.5px solid $dark-gray-5;
  padding: 8px 16px;
  border-radius: var(--border-radius);
}

.Progress {
  padding: 0px 8px;
}

.ProgressRank {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border-bottom: 2px solid $mid-gray;
  .App___threeColumns & {
    gap: 16px;
    padding: 8px 8px 16px;
  }
}

.CurrentRank {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100px;
}

.ProgressBar {
  --gap-length: 12px;
  .App___twoColumns & {
    --gap-length: 16px;
  }
  .App___threeColumns & {
    --gap-length: 20px;
  }
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--gap-length);
}

.RankTic {
  position: relative;
  height: calc(0.7 * var(--gap-length));
  width: calc(0.7 * var(--gap-length));
  border-radius: calc(0.7 * var(--gap-length));
  background-color: $mid-gray;
  &:not(:first-child):before {
    content: "";
    position: absolute;
    height: calc(0.1 * var(--gap-length));
    width: var(--gap-length);
    left: calc(-1 * var(--gap-length));
    top: calc(0.3 * var(--gap-length));
    background-color: $mid-gray;
  }
  &:not(.active ~ .RankTic) {
    background-color: $yellow-line;
    &:not(:first-child):before {
      background-color: $yellow-line;
    }
  }
}

.ProgressStatus {
  padding: 8px;
  align-items: center;
  justify-content: center;
  font-size: var(--small-font);
  display: flex;
  gap: 20px;
  .App___threeColumns & {
    padding: 16px 8px;
    gap: 20px;
  }
  > div:not(.perfect) {
    display: flex;
    gap: 4px;
  }
}

.ProgressStatus_item {
  display: flex;
  .App___oneColumn & {
    flex-direction: column;
  }
}

.ProgressStatusCount {
  text-align: left;
  font-weight: bold;
}

.WordListSettingsContent {
  padding: 8px;
  label, > div {
    display: flex;
    gap: 4px;
    align-items: center;
  }
  &.found {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
  }
  &.answers {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

.WordListStatus {
  padding: 16px 8px;
  align-items: center;
  font-size: var(--small-font);
  &.FoundWordsStatus {
    display: flex;
    justify-content: center;
    gap: 20px;
    > div:not(.perfect) {
      display: flex;
      gap: 4px;
    }
  }
  .WordListStatusCount {
    font-weight: bold;
  }
}

.WordListContainer {
  border-radius: var(--border-radius);
  border: 1px solid $line-darkest;
  overflow: hidden;
  header {
    font-size: var(--small-font);
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid $mid-gray;
    > div {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}

.WordList {
  padding: 8px 8px 16px 8px;
  &.hasContent {
    font-size: var(--small-font);
    list-style: none;
    text-align: left;
    height: calc(26px * 15 + 24px);
    column-count: 3;
    column-fill: auto;
    li {
      height: 26px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      span {
        &:first-letter {
          text-transform: uppercase;
        }
      }
    }
  }
}

button.WordPopoverTrigger {
  padding: 0px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  &:focus {
    outline: none;
  }
  span {
    text-decoration: underline;
    display: block;
    text-align: left;
    &:first-letter {
      text-transform: uppercase;
    }
    &.perfect {
      font-style: italic;
      font-weight: bold;
    }
    &.pangram {
      font-weight: bold;
    }
  }
}

.hasPopover {
  &.perfect, &.pangram {
    color: $yellow-line;
  }
}

button.Revealer {
  padding: 3px 8px;
  border: 1px solid $mid-gray;
  text-align: left;
  background-color: $dark-gray-2;
  &:hover, &:active {
    text-decoration: underline;
  }
}
