.display-none {
  display: none;
}

.button {
  //padding: 0.4em 1em;
  //font-size: 1em;
  //font-weight: 500;
  //font-family: inherit;
}

.button:focus,
.button:focus-visible {
  //outline: 2px auto -webkit-focus-ring-color;
}

.capitalize {
  text-transform: lowercase;
  ::first-letter {
    text-transform: uppercase;
  }
}
