.display-none {
  display: none;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.capitalize {
  text-transform: lowercase;
  &:first-letter {
    text-transform: uppercase;
  }
}

.disabled {
  cursor: not-allowed;
}
