@use 'colors' as *;

.Status {
  position: sticky;
  top: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  align-self: flex-start;
  width: 100%;
  max-width: 33.333333333vw;
}

.AttemptControls {
  $this-hue: $blue-hue;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  //background-color: bg-color-dark($this-hue);
  background-color: $dark-gray-2;
  border: 1.5px solid $dark-gray-5;
  padding: 8px 16px;
  border-radius: var(--br);
}

.Progress {
  padding: 0px 16px;
}

.ProgressRank {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 8px 8px 16px;
  border-bottom: 2px solid $mid-gray;
}

.CurrentRank {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100px;
}

.ProgressBar {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.RankTic {
  position: relative;
  height: 14px;
  width: 14px;
  border-radius: 14px;
  background-color: $mid-gray;
  &:not(:first-child):before {
    content: "";
    position: absolute;
    height: 2px;
    width: 20px;
    left: -20px;
    top: 6px;
    background-color: $mid-gray;
  }
  &:not(.active ~ .RankTic) {
    background-color: $yellow-line;
    &:not(:first-child):before {
      background-color: $yellow-line;
    }
  }
}

.ProgressStatus {
  padding: 16px 8px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  display: flex;
  gap: 20px;
  > div:not(.perfect) {
    display: flex;
    gap: 4px;
  }
}

.ProgressStatusCount {
  text-align: left;
  font-weight: bold;
  .words & {
    width: 50px;
  }
  .points & {
    width: 72px;
  }
  .pangrams & {
    width: 28px;
  }
}

.WordListSettingsContent {
  padding: 8px;
  label, > div {
    display: flex;
    gap: 4px;
    align-items: center;
    //justify-content: space-between;
  }
  &.found {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
  }
  &.answers {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

.WordListStatus {
  padding: 16px 8px;
  align-items: center;
  font-size: 16px;
  &.FoundWordsStatus {
    display: flex;
    justify-content: center;
    gap: 20px;
    > div:not(.perfect) {
      display: flex;
      gap: 4px;
    }
  }
  .WordListStatusCount {
    font-weight: bold;
  }
}

.WordListContainer {
  border-radius: var(--br);
  border: 1px solid $line-darkest;
  overflow: hidden;
  header {
    font-size: 16px;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid $mid-gray;
    > div {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}

.WordList {
  padding: 8px 8px 16px 8px;
  //border: 1px dotted;
  &.hasContent {
    font-size: 16px;
    list-style: none;
    text-align: left;
    height: calc(26px * 15 + 24px);
    column-count: 3;
    column-fill: auto;
    li {
      height: 26px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      span {
        &:first-letter {
          text-transform: uppercase;
        }
      }
      button.WordPopoverTrigger {
        padding: 0px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        &:focus {
          outline: none;
        }
        span {
          text-decoration: underline;
          display: block;
          text-align: left;
          &:first-letter {
            text-transform: uppercase;
          }
          &.perfect {
            font-style: italic;
            font-weight: bold;
          }
          &.pangram {
            font-weight: bold;
          }
        }
      }
    }
  }
}

.hasPopover {
  &.perfect, &.pangram {
    color: $yellow-line;
  }
}

button.Revealer {
  padding: 3px 8px;
  border: 1px solid $mid-gray;
  //border-radius: 0px;
  text-align: left;
  background-color: $dark-gray-2;
  &:hover, &:active {
    text-decoration: underline;
  }
}
