#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.sb-main-container {
  display: flex;
  justify-content: stretch;
}

.sb-main {
  width: 1080px;
  max-width: 1080px;
  margin: 0px auto;
  display: flex;
  justify-content: stretch;
}

.sb-main > div {
  width: 50%;
}

.sb-controls {
  /*width: 50%;*/
}

.hive {
  position: relative;
  --height: 100px;
  --width: calc(var(--height) * 1.1547);
  --margin: 4px;
}

.hexagon {
  position: absolute;
  height: var(--height);
  width: var(--width);
}

.hexagon polygon {
  fill: #555;
}

.hexagon.center-letter polygon {
  fill: #887711;
}

.hexagon text {
  text-anchor: middle;
  font-size: 32px;
  font-weight: bold;
  fill: #eee;
}

.hexagon:nth-child(1) {
}

.hexagon:nth-child(2) {
  transform: translate(-75%, -50%);
}

.hexagon:nth-child(3) {
  transform: translate(0%, -100%);
}

.hexagon:nth-child(4) {
  transform: translate(75%, -50%);
}

.hexagon:nth-child(5) {
  transform: translate(75%, 50%);
}

.hexagon:nth-child(6) {
  transform: translate(0%, 100%);
}

.hexagon:nth-child(7) {
  transform: translate(-75%, 50%);
}
